{% extends 'layout.html' %}
{% block scripts %}
    <style>
h2 {
  text-align: left;
  font-weight: 100;
  font-size: 25pt;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.topclass {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.lol {
  overflow: hidden;
  background-color: azure;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
h5 {
  font-weight: 200;
  font-size: 20pt;
}

.input-file { 
  position:relative; 
  overflow:hidden;  
  padding:0;
  display:block;
  max-width:100%;
  cursor:pointer;
}

.input-file .btn { 
  white-space:nowrap; 
  display:inline-block;
  margin-right:1em;
  vertical-align:top;
}

.input-file .material-icons {
  float:left;
  font-size:16px; 
  line-height:inherit;
  margin-right:4px;
}

.input-file ins { 
  white-space:nowrap; 
  display: block;
  max-width:100%; 
  overflow:hidden; 
  text-overflow:ellipsis; 
  font-size:12px;
}

.input-file:after {
  content:""; 
  display:block; clear:both; 
} 

.input-file input { 
  width:0.1px; 
  height:0.1px;
  opacity:0;
  overflow:hidden;
  position:absolute; 
  top:-100px;
  z-index:-1; 
}


    </style>

	<script type="text/javascript" src="{{ url_for('static', filename = 'Add_item.js') }}"></script>
	<script>
		
	</script>
{% endblock %}
{% block content %}
<br>

<div class="header">
<h2> Upload a File to process </h2>
</div>


	<div class="container">
	    <div class="fileupload">
		<form action="getfile" method="POST" enctype="multipart/form-data">

<br>
<br>
<div class="form-check">
    <input type="checkbox" name="option_1" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">Check to exclude stopwords in your analysis</label>
</div>

<br>
<br>

<div class="lol col-md-9 row">
     
<div class="col-md-3" >
	<h5>Choose File:<h5> 

</div>

<div class="col-md-3" >

	<input type="file" name="myfile"><br>
</div>
<br>

</div>
<br>

   <div class="col-md-5"> <button type="file" class="btn btn-primary btn-lg btn-block" name="myfile"> Click to Process Chosen File </button></div>

</form>

	    </div> 

	    <br>
	    <br>

	    <div class="topclass">
	      <h2>Frequency Count Results</h2>
	    </div> 
	    <br>
	    	<div class="col-md-9 row">
     
<div class="col-md-3" >
	<h5>Word </h5>
</div>

<div class="col-md-3" >
	<h5>Count</h5>
</div>
</div>

	    <div id="results"> 
	    	<ul class="list-group">
{% for href, caption in results %}
  <li class="list-group-item">
	<div class="col-md-9 row">
     
<div class="col-md-3" >
	 {{ href }}
</div>

<div class="col-md-3" >
	{{ caption }}
</div>
</div>
 </li>
{% endfor %}
</ul>

	   
	    </div>
	    <br>
		<div id="user_info"></div>
	</div>
{% endblock %}
