{% extends 'layout.html' %}
{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'Add_item.js') }}"></script>
	<script>
		var songs = {{songs|tojson}} 
	</script>
{% endblock %}
{% block content %}
	<h1> Upload a File to process: </h1>
	<br>
	<br>

	<div class="container">
	    <div class="fileupload">
		<form action="getfile" method="POST" enctype="multipart/form-data">
	<div class="col-md-9 row">
     
<div class="col-md-3" >
	<h4>Choose File:<h4> 
</div>

<div. class="col-md-3" >
	<input type="file" name="myfile"><br>
</div>

	
</div>
<br>

   <div class="col-md-5"> <button type="file" class="btn btn-primary btn-lg btn-block" name="myfile"> Process File </button></div>

</form>

	    </div> 

	    <br>
	    <br>

	    <div class="topclass">
	      <h1>Song Details</h1>
	    </div> 
	    <div id="song"> 
	    	<div class="row">
		        <div class="col-md-2">
		           <label for="Title">Title</label> 
		        </div>
		        <div class="col-md-3">
		        	<div class="ui-widget">
		        		<input type="text" id="Title" placeholder="Title">
		        	</div>
		        </div>
		    </div> 
		    <div class="row">
		        <div class="col-md-2">
		           <label for="Singer">Singer</label>
		        </div>

		        <div class="col-md-3">
		        	<div class="ui-widget">
		        		<input type="text" id="Singer" placeholder="Singer">
		        	</div>
		        </div>
		    </div> 
		    <div class="row">
		        <div class="col-md-3">
		        	<label for="Album">Album: </label>
		        </div>
		        <div class="col-md-3">
		        	<div class="ui-widget">
		        		<input type="text" id="Album" placeholder="Album">
		        	</div>
		        </div>
		    </div> 
				<div class="row">
		        <div class="col-md-2">
		          <label for="Genre">Genre</label>
		        </div>
		        <div class="col-md-3">
		        	<div class="ui-widget"><input type="text" id="Genre" placeholder="Genre"></div>
		        </div>
		    </div> 
				<div class="row">
		        <div class="col-md-1">
		          <label for="Summary">Summary</label>
		        </div>

	        	<div class="col-md-3">
		        	<div class="ui-widget"><input type="text" id="Summary" placeholder="Summary"></div>
		        </div>
		    </div> 
				<div class="row">
		        <div class="col-md-2">
				<label for="Label">Label</label> </div>
		        <div class="col-md-3">
		        	<div class="ui-widget"><input type="text" id="Label" placeholder="Label"></div>
		        </div>
		    </div>
				<div class="row">
		        <div class="col-md-1">
		          <label for="SongWriter">Songwriter:</label>
		        </div>
		        <div class="col-md-3"><div class="ui-widget">
		        		<input type="text" id="Songwriter" placeholder="Songwriter"></div>

		    </div>
		</div> 
				<div class="row">
		        <div class="col-md-2">
		          <label for="Producer">Producer</label>
		        </div>
		        <div class="col-md-3">
		        	<div class="ui-widget">
		        		<input type="text" id="Producer" placeholder="Producer">
		        	</div>
		        </div>
		    </div> 	
				<div class="row">        
		         <div class="col-md-2">
		          <label for="Image">Image</label>
		        </div>
		        <div class="col-md-3">
		        	<div class="ui-widget">
		        		<input type="text" id="image" placeholder="image">
		        	</div>
		        </div>
		    </div> 
		    <div class="col-md-12"> <button type="button" class="btn btn-primary btn-lg btn-block" id="Submit"> Submit </button></div>
	    </div>
	    <br>
		<div id="user_info"></div>
	</div>
{% endblock %}
